/* nav styls */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;   
}
.btn-primary{
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
border-radius: 5px;
padding: 18px 35px;
border: none;

background: rgb(253, 110, 10);
}



.open-sans-normal-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
nav ul li {
    display: inline;
    list-style: none;

}
nav ul{
    display: flex;
    gap: 45px;
    align-items: center;
}
nav li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.banner-h4{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
position: absolute;
width: 177px;
height: 61px;
left: 230px;
right: 178px;
top: 297px;
bottom: -96px;
}
.banner-h1{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
position: absolute;
width: 498px;
height: 116px;
left: 230px;
right: -143px;
top: 363px;
bottom: 20px;
}
.banner-p{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
position: absolute;
width: 585px;
height: 60px;
left: 230px;
right: -230px;
top: 530px;
bottom: -297px;
}
.btn-primary-1{
    position: absolute;
    width: 200px;
    height: 64px;
    left: 230px;
    right: -230px;
    top: 650px;
    bottom: -589px;
    border-radius: 5px;
background: rgb(253, 110, 10);
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.btn-primary-2{
    /* Group 9 */
position: absolute;
width: 160px;
height: 64px;
left: 460px;
right: -35px;
top: 650px;
bottom: -297px;
color: rgb(253, 110, 10);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(253, 110, 10);
border-radius: 5px;
}
.banner-pic{ 
    width: 584px;
    height: 676px;
    left: 978px;
    right: 38px;
    top: 161px;
    bottom: 3419px; 
}
.banner-main{
    display: flex;
    justify-content: space-between;
}
.pic-developer{
    background-image: url(../portfolio-resources/images/developer.png), url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
/* about */
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-des{
    font-size: 18px;
    color: #757575;

}
.secon-bg{
    background-color: rgb(255, 248, 243);
}
.about{
    border-radius: 5px;
    margin: 130px auto;
    padding: 130px 150px;
    text-align: center;
}
.item-des{
    font-weight: 700;
    color: rgb(71, 71, 71);
}
.item-title{
    color: rgb(117, 117, 117);
}
.about-items{
    display: flex;
    gap: ;
    justify-content: space-around;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.skills-con{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}
.adu-and-ex{
    display: flex;
    justify-content: space-between;
}
.resomi>h3{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center; 
}
.edu-ex-title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700; 
}
.hiding{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left; 
}
.edu-ex-loc{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.edu-ex-deteils{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
width: 511px;
height: 84px;
left: 230px;
right: -230px;
}
.btn-primary-3{
    width: 200px;
height: 64px;
left: 700px;
right: -700px;
top: 3299px;
bottom: -3299px;
border-radius: 5px;

background: rgb(253, 110, 10);
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
}
.btn{
    text-align: center;
}